<div bsModal #ingredientModal="bs-modal" id="ingredient-modal" class="modal fade" tabindex="-1" role="dialog"
     (onHide)="clearForm()">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="modal-close-button" class="close" (click)="hideModal()"
                        data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{{modalTitle}}</h4>
            </div>
            <div class="modal-body">
                <form #form="ngForm">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="ingredientName">Name</label>
                            <input class="form-control" type="text" id="ingredientName" name="ingredientName"
                                   title="Name" value="{{name}}" minlength="1" maxlength="1000"
                                   [(ngModel)]="name" #ingredientName="ngModel" autofocus/>
                        </div>
                    </div>

                    <!--Name Error Messages-->
                    <div *ngIf="(!validateName() && ingredientName.dirty && !ingredientName.errors)" class="text-danger">
                        <div [hidden]="validateName()">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="category">Category</label>
                            <select class="form-control " name="category" id="category" title="Category" [ngModel]="category" (change)="categoryChange($event.target.value)" >
                                <option></option>
                                <option>Vegetable</option>
                                <option>Fruit</option>
                                <option>Protein</option>
                                <option>Fat</option>
                                <option>Grain</option>
                                <option>Condiment</option>
                                <option>Dressing</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="metric">Metric</label>
                            <select class="form-control" name="metric" id="metric" title="Metric" [ngModel]="metric" (change)="metricChange($event.target.value)">
                                <option></option>
                                <option>Cups (c)</option>
                                <option>Ounces (oz)</option>
                                <option>Table Spoons (Tbsp)</option>
                                <option>Teaspoon (tsp)</option>
                                <option>Whole</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label for="amount">Amount</label>
                            <input class="form-control" type="text" id="amount" title="Amount" value="{{amount}}" (change)="amountChange($event.target.value)" />
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button id="modal-cancel-button" type="button" class="btn btn-default" (click)="hideModal()"
                        data-dismiss="modal">
                    Cancel
                </button>
                <button id="modal-continue-button" type="button" class="btn btn-primary"
                        (click)="saveIngredient()"
                        [disabled]="!ingredientName.valid || !validateName()">
                    Save
                </button>
            </div>
        </div>
    </div>
</div>
