.home-link {
    height: 45px;
    width: 45px;
    padding: 0px;
}

.navbar-brand {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.navbar-fixed-top {
    background-color: #8ad6fc;
}